<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>passion_livre-Accueil</title>
    <link href="./css/home.css" rel="stylesheet" />
  </head>
  <body>
    <div name="header">
      <button id="bouton_connection">Connection</button>
      <img src="" alt="" />
      <div>Bienvenue</div>
    </div>
  </body>
</html>
